<!doctype html>
<html lang="en">
  <head>
{#    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">#}
{#    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/dataTables.bootstrap5.css">#}
     	<meta charset="utf-8">
		<title>{% block title %}{% endblock %}</title>
		<link rel="stylesheet" href="../static/style.css">
{#		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">#}

  </head>
  	<body class="loggedin">
		<nav class="navtop">
			<div>
				<h1>MULAN LOGISTIC MTS</h1>
                <a href="{{ url_for('home') }}"><i class="fas fa-home"></i>All Loads</a>
				<a href="{{ url_for('dispatch') }}"><i class="fas fa-user-circle"></i>dispatching</a>
				<a href="{{ url_for('dispatch') }}"><i class="fas fa-user-circle"></i>Assets</a>
				<a href="{{ url_for('dispatch') }}"><i class="fas fa-user-circle"></i>HR</a>
                <a href="{{ url_for('account') }}"><i class="fas fa-user-circle"></i>Accounting</a>
				<a href="{{ url_for('logout') }}"><i class="fas fa-sign-out-alt"></i>Logout</a>
			</div>
		</nav>
    <div class="container">
      <h1>{{ title }}</h1>
      <hr>
      {% block content %}{% endblock %}
    </div>
    <script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!--<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.js"></script> -->
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/dataTables.bootstrap5.js"></script>
    {% block scripts %}{% endblock %}
  </body>
</html>
